* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: green;
}

body {
    text-align: left;
    background-color: rgb(44, 31, 230);
}

h1 {
    font-size: 40px;
    font-family: Helvetica;
    line-height: 80px;
}

p {
    line-height: 40px;
}

ol {
    line-height: 50px;
}

li {
    line-height: 30px;
}